.p-main
  .p-main__header
    =render "users/sessions-header"
  .p-main__container
    .p-main__container__content
      .p-main__container__content__header
        会員登録完了
      .p-main__container__content__done
        .p-main__container__content__done__content
          %li ありがとうございます。
          %li 会員登録が完了しました。
      .p-main__container__content__btn
        = link_to root_path, class:'start' do
          メルカリをはじめる
  .footer
    .footer__banner
      .footer__banner__bg
        = image_tag "mercari_relaxing.jpg" , alt: "メルカリフッター", class: "footer_image", height: "400px", width: "100%"
        .footer__banner__contents
          %h2 スマホでかんたんフリマアプリ
          %h1 今すぐ無料ダウンロード
          .footer__banner__contents__banner-icons
            .footer__banner__contents__banner-icons__mercari
              = image_tag "logo_white.svg" ,size: '68x68'
            .footer__banner__contents__banner-icons__stores__app
              ■APPLE
            .footer__banner__contents__banner-icons__stores__google
              ■Google
      .footer__banner__figure
  .p-main__container__footer
    = render "users/users-footer"
     