.p-main
  .p-main__header
    =render "users/sessions-header"
  .p-main__container
    .p-main__container__content
      .p-main__container__content__header
        会員登録完了
      .p-main__container__content__done
        .p-main__container__content__done__content
          %li ありがとうございます。
          %li 会員登録が完了しました。
      .p-main__container__content__btn
        = link_to root_path, class:'start' do
          メルカリをはじめる
  .p-main__container__footer
    = render "users/users-footer"
     