.exhibition {
  background-color: red;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 3;
  .btn {
    line-height: 200px;
    text-align: center;
  }
}