.exhibition {
  background-color: red;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 3;
  .ebtn {
    text-decoration: none;
  }
  .btn {
    text-align: center;
    p {
      padding-top: 30px;
      font-size: 22px;
      color: white;
    }
    i {
      z-index: 5;
      font-size: 60px;
      color: white;
    }
  }
}