//------------マイページ-------------------------
*{
  box-sizing: border-box;
}
.main{
  background-color: #f5f5f5;
  overflow: scroll;
  width: 100%;
  height: 100%;
  &__container{
    width: 1020px;
    margin: 40px auto 0 ;
    &__content{
      width: 700px;
      float: right;
      cursor: pointer;
      &__user{
        height: 200px;
        background-image:image-url('f5124c288ae8f3bbdf9e627b75412077_w.jpg');
        background-size:  cover;
        padding: 20px;
        border: solid 0.5px gray;
        &__erea{
          top:50px;
          text-align: center;
          height: 100px;
          &__icon{
            background-color: khaki;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 0 auto;
            background-image:image-url('3be29de409585ddcd1adae7d6aabfa54_w.jpg');
            background-size:  cover;
          }
          &__name{
            font-family: Arial, Helvetica, sans-serif;
          }
          &__count{
            display: flex;
            justify-content: center;
            height: 60px;
            &__evaluation{
              width: 150px;
              display: flex;
              padding-left: 80px;
              li{
                list-style: none;
                display: block;
                padding-top: 5px;
                width: 30px;
              }
            }
            &__sell{
              width: 160px;
              display: flex;
              padding:0 70px 0 10px;
              li{
                list-style: none;
                display: block;
                padding-top: 5px;
                width: 30px;
              }
            }
          }
        }
      }
      &__tabs{
        &__info{
          width: 50%;
          height: 72px;
          text-align: center;
          font-size: 22px;
          line-height: 72px;
          background-color: white;
          border: solid 0.5px gray;
          float: left;
          border-top:solid 2px red;
          font-family: Arial, Helvetica, sans-serif;
        }
        &__todo{
          width: 50%;
          height: 72px;
          text-align: center;
          font-size: 22px;
          line-height: 72px;
          background-color: white;
          border: solid 0.5px gray;
          float: right;
          border-top:solid 2px red;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
  //-------上下共通部分----------------
        &__message{
          padding-top: 100px;
          width: 700px;
          height: 300px;
          text-align: center;
          border: solid 0.5px gray;
          background-color: white;
          &__logo{
            width: 120px;
            margin: 0 auto;
          }
          &__nomessage{
            color: #333;
            opacity: 0.6;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
          }
        }
  //-----リストがある場合の「一覧を見る」の表示-------
      // &__lists{
      //   height: 100px;
      //   padding: 16px;
      //   color: #333;
      //   text-align: center;
      //   line-height: 50px;
      //   border: solid 0.5px gray;
      //   background-color: rgba(182, 179, 166, 1);
      //   &:hover{
      //     background-color: rgba(182, 179, 166, 0.5);
      //   }
      // }


      &__bottom{
        height:56px;
        padding: 16px;
        margin: 40px 0 0;
        border: solid 0.5px gray;
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;

      }
      &__purchased{
        &__now-trade{
          width: 50%;
          height: 72px;
          text-align: center;
          font-size: 22px;
          line-height: 72px;
          border: solid 0.5px gray;
          background-color: white;
          float: left;
          border-top:solid 2px red;
          font-family: Arial, Helvetica, sans-serif;


        }
        &__past-trade{
          width: 50%;
          height: 72px;
          text-align: center;
          font-size: 22px;
          line-height: 72px;
          border: solid 0.5px gray;
          background-color: white;
          float: right;
          border-top:solid 2px red;
          font-family: Arial, Helvetica, sans-serif;
        }
      }
    }
  //--------左のサイドバーーーーーー-------------
    &__side{
      width: 280px;
      float: left;
      margin: 0 40px 0 0;
      &__nav{
        ul{
          li{
            height: 48px;
            width: 280;
            padding: 16px;
            color: #333;
            cursor: pointer;
            border: solid 0.1px gray;
            display: flex;
            justify-content: space-between;
            background-color: white;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            .list{
              text-decoration: none;
              color: #333;
              font-size: 14px;
            }
            .fas.fa-chevron-right{
              opacity: 0.5;
              &:hover{
                opacity: 1;
                font-size: 20px;
                transition:all 0.5s;
              }
            }
          }
        }
        &__header{
          padding-top:40px ;
          background-color: #f5f5f5;
          h3{
            font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
        }
      }
    }
  }
}