.users-session
  .users-session__header
    .users-session__header__logo
      = link_to root_path do
        =image_tag "fmarket_logo_red.svg"
    .users-session__header__process
      .users-session__header__process__info
        会員情報
      .users-session__header__process__info
        電話番号認証
      .users-session__header__process__info
        住所登録
      .users-session__header__process__info
        支払い方法
      .users-session__header__process__info
        完了