  .p-main__container__header
    .p-main__container__header__logo
      =image_tag "fmarket_logo_red.svg"
    .p-main__container__header__process
      .p-main__container__header__process__info
        会員情報
      .p-main__container__header__process__info
        電話番号認証
      .p-main__container__header__process__info
        住所登録
      .p-main__container__header__process__info
        支払い方法
      .p-main__container__header__process__info
        完了