.login
  =render "toplogo"
  .login__head
    %p アカウントをお持ちでない方はこちら
    .login__head__new
      新規会員登録
  .login__body
    .login__body__omniauth
      %ul
        %li Facebookでログイン
        %li Googleでログイン
    .login__body__signup
      %input type: textfield
      %input type: textfield
      %p ＜私はロボットではありません＞
      .login__body__signup__btn
        ログイン
      %p パスワードをお忘れの方
  = render "users-footer"
    