.f-main
  .f-main__footer
    .f-main__footer__info
      %ul
        %li
          =link_to "#", class: "link privacy" do
            プライバシーポリシー
        %li
          =link_to "#", class: "link consensus" do
            メルカリ利用規約
        %li
          =link_to "#", class: "link low" do
            特定商取引法に関する表記
    .f-main__footer__logo
      =image_tag "logo_gray.svg"
    .f-main__footer__copyright
      ©️2019　Fmarket 