    .p-main__container__footer
      .p-main__container__footer__info
        .p-main__container__footer__info__rule
          = link_to "#", class:"notation" do
            プライバシーポリシー
        .p-main__container__footer__info__rule
          = link_to "#", class:"notation" do
            メルカリ利用規約
        .p-main__container__footer__info__rule
          = link_to "#", class:"notation" do
            特定商取引に関する表記
      .p-main__container__footer__logo
        =image_tag "logo_gray.svg"
      .p-main__container__footer__copyright
        ©️2019　Fmarket 