.p-main__container__footer
  .p-main__container__footer__info
    %ul
      %li
        =link_to "#", class: "link privacy" do
          プライバシーポリシー
      %li
        =link_to "#", class: "link consensus" do
          メルカリ利用規約
      %li
        =link_to "#", class: "link low" do
          特定商取引法に関する表記
  .p-main__container__footer__logo
    =image_tag "logo_gray.svg"
  .p-main__container__footer__copyright
    ©️2019　Fmarket 