.main
  .main__header
    =render "shared/header"
  .main__container
    .main__side-bar
      = render 'users/side_bar'
    .main__container__l-container
      .main__container__l-container__btn
        =link_to '#', class:'logout' do
          ログアウト
  .main__footer
    =render "shared/footer"