.new-user-top
  ＜toplogoをrender＞
  .new-user-top__contents
    .new-user-top__contents__header
      新規会員登録
    .new-user-top__contents__body
      %ul 
        %li メールアドレスで登録
        %li Facebookで登録
        %li googleで登録
  ＜footerをrender＞