.sign-up-session1
  .sign-up-session1__head
    .sign-up-session1__head__logo
      aaa
    .sign-up-session1__head__phase
      .sign-up-session1__head__phase__title
        %ul
          %li 会員情報
          %li 電話番号認証
          %li 住所入力
          %li 支払い方法
          %li 完了
      .sign-up-session1__head__phase__mapping
  .sign-up-session1__body
    .sign-up-session1__body__head
      会員情報入力
    .sign-up-session1__body__nickname
      .sign-up-session1__body__nickname__title
        ニックネーム
        %span 必須
      .sign-up-session1__body__nickname__form
        %input{class: "nickname-form", placeholder: "例）フリマ太郎"}
    .sign-up-session1__body__email
      .sign-up-session1__body__email__title
        メールアドレス
        %span 必須
      .sign-up-session1__body__email__form
        %input{class: "email-form", placeholder: "PC・携帯どちらでも可"}
    .sign-up-session1__body__password
      .sign-up-session1__body__password__title
      .sign-up-session1__body__password__form
      .sign-up-session1__body__password__caution
        ※英字と数字の両方を含めて設定してください
      .sign-up-session1__body__password__reviel
        %input{class: "password-reviel", type: "checkbox"}パスワードをパスワードを表示する
    .sign-up-session1__body__confirmation-message
      %h2 本人確認
      %p 安心・安全にご利用いただくために、お客様の本人
      %p 情報の登録にご協力ください。他のお客様に公開さ
      %p れることはありません。
    .sign-up-session1__body__name
      .sign-up-session1__body__name__title
        お名前（全角）
        %span 必須
      .sign-up-session1__body__name__input
        %input{class: "family-name-form", placeholder: "例）山田"}
        %input{class: "last-name-form", placeholder: "例）花子"}
    .sign-up-session1__body__name-kana
      .sign-up-session1__body__name-kana__title
        お名前カナ（全角）
        %span 必須
      .sign-up-session1__body__name-kana__form 
        %input{class:"family-name-kana-form", placeholder: "例）ヤマダ"}
        %input{class:"last-name-kana-form", placeholder: "例）ハナコ"}
    .sign-up-session1__body__birthday
      .sign-up-session1__body__birthday__title
        生年月日
        %span 必須
      .sign-up-session1__body__birthday__form
        %input{class:"birthday-form", placeholder:"仮置き"}
      .sign-up-session1__body__birthday__caution
        %p ※本人情報は正しく記入してください。会員登録後、
        %p 修正するにはお時間をいただく場合があります。
    .sign-up-session1__body__confirmation
      『次へ進む』』のボタンを押すことにより、
      %span 利用規約
      %p に同意したものとみなします。
      
    .sign-up-session1__body__next
      =link_to "#",class: "session1-next" do
        次へ進む
    .sign-up-session1__body__detail
      本人情報の登録について＞
    .sign-up-session1__body__privacy-policy
      This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
