.main
  .main__header
    =render "shared/header"
  .main__container
    .main__container__side-bar    
      = render 'users/side_bar'
    .main__container__content
      .main__container__content__user
        .main__container__content__user__erea
          .main__container__content__user__erea__icon
          .main__container__content__user__erea__name
            = @nickname  
          .main__container__content__user__erea__count
            .main__container__content__user__erea__count__evaluation
              評価
              %li
                13
            .main__container__content__user__erea__count__sell
              出品数
              %li
                14
      .main__container__content__tabs
        .main__container__content__tabs__info
          お知らせ
        .main__container__content__tabs__todo
          やることリスト
      .main__container__content__message
        .main__container__content__message__logo
          =image_tag "logo_gray.svg" 
        .main__container__content__message__nomessage
          現在、やることリストはありません

      .main__container__content__bottom
        購入した商品
      .main__container__content__purchased
        .main__container__content__purchased__now-trade
          取引中
        .main__container__content__purchased__past-trade
          過去の取引
      .main__container__content__message
        .main__container__content__message__logo
          =image_tag "logo_gray.svg" 
        .main__container__content__message__nomessage
          現在、やることリストはありません
  .main__footer
    = render "shared/footer"