.header
  .header__search-bar
    .header__search-bar__logo
      = link_to root_path do
        メ
        = image_tag "ringsquare.svg", :width => "150", :height => "150"
    .header__search-bar__form
  .header__contents
    .header__contents__search-tags
      .header__contents__search-tags__category
      .header__contents__search-tags__brand
    .header__contents__utilities
      .header__contents__utilities__likes
      .header__contents__utilities__notice
      .header__contents__utilities__todo
      .header__contents__utilities__mypage

