.container
  .container__content
    .container__content__user-icon
    .container__content__todo
    .container__content__bottom

  .container__side
    .container__side__nav
      .container__side__nav
