.main
  .main__container
    .main__container__p-container
      .main__container__p-container__header
        プロフィール
      .main__container__p-container__profile
        .main__container__p-container__profile__i-erea
          .main__container__p-container__profile__i-erea__content
            .main__container__p-container__profile__i-erea__content__icon
            .main__container__p-container__profile__i-erea__content__name
              name
        .main__container__p-container__profile__text
          -#---------form_forの値の実装後修正ーーーーーーーーーーーーーーーーーー
          .main__container__p-container__profile__text__profile
            例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"
        .main__container__p-container__profile__btn
          =link_to '#', class:'change' do
            変更する
    = render 'shared/side_bar'