.buy
  .buy__title
  = image_tag "mercari.jpg", size: "180x100", alt: "メルカリ"
  .buy__box
    .buy__box__title
      購入内容の確認
    .buy__box__detail
      .buy__box__detail__image
        = image_tag "coach.jpg", size: "120x120", alt: "商品1"
      .buy__box__detail__title
        %p COACH コーチ ショルダーバッグ
        %p ¥4,350 （税込）送料込み
    .buy__box__pay
      .buy__box__pay__price
        .buy__box__pay__price__titile
          支払い金額
        .buy__box__pay__price__yen
          ¥4,350
      .buy__box__pay__point
        ポイントを使用 (所持ポイント: P0)
    .buy__box__how
      .buy__box__how__left
        %p 支払い方法
        %p クレジットカード番号
        %p ************7267
        %p 有効期限 08 / 23
        %p VISA
      .buy__box__how__right
        %p 変更する
    .buy__box__address
      .buy__box__address__left
        %p 配送先
        %p 〒ccc-dddd
        %p ************7267
        %p 兵庫県
        %p 田中 二郎
      .buy__box__address__right
        %p 変更する
    .buy__box__content
      %p この商品はゆうゆうメルカリ便を利用しているため、
      %p アプリからのみ購入できます。
    .buy__box__bottom
      %p 購入する

    -# .buy__box__appcontent
    -#   %p アプリをお持ちでない方は以下よりインストールして
    -#   %p ご利用いただけます。
    -# .buy__box__appbottom 
    -#   .buy__box__appbottom__applestore
    -#     applestore
    -#   .buy__box__appbottom__googleplay
    -#     googleplay
  
