.index
  .index__slick
  .index__category
    .index__category__title
      %h2 人気のカテゴリー
      %ul
        %li レディース
        %li メンズ
        %li 家電・スマホ・カメラ
        %li おもちゃ・ホビー・グッズ

        
    .index__category__contents
      .index__category__contents__1
        %h3 レディース新着アイテム
      .index__category__contents__2
        %h3 メンズ新着アイテム
      .index__category__contents__3
        %h3 家電・スマホ・カメラ新着アイテム
      .index__category__contents__4
        %h3 おもちゃ・ホビー・グッズ新着アイテム
  .index__brand
    .index__brand
      .index__brand__title
        %h2 人気のブランド
      .index__brand__contents
        .index__brand__contents__1
          %h3 シャネル新着アイテム
        .index__brand__contents__2
          %h3 ルイヴィトン新着アイテム
        .index__brand__contents__3
          %h3 シュプリーム新着アイテム
        .index__brand__contents__4
          %h3 ナイキ新着アイテム
