.products__new
  .products__new__logo
    = image_tag "fmarket_logo_red.svg"
  .products__new__form
    .products__new__form__title
      %h2 商品の情報を入力
    .products__new__form__image
      %h3 商品画像
      %p 最大10枚までアップロードできます
    .products__new__form__basic
      %label 商品名
      %label 商品の説明
    .products__new__form__details
      %h3 商品の詳細
    .products__new__form__delivery
      %h3 配送について
    .products__new__form__price
      %h3 販売価格
    .products__new__form__other
      %p 禁止されている出品、行為を必ずご確認ください。
      %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
      %p また、出品をもちまして加盟店規約に同意したことになります。

      %button 出品する
      %button 戻る
  .products__new__bottom
    %ul
      %li プライバシーポリシー
      %li メルカリ利用規約
      %li 特定商取引に関する表記
    .products__new__other__logo
    .products__new__other__copyright
      © 66期 team A

    
    

