*{
  box-sizing: border-box;
}
.main{
  background-color: #f5f5f5;
  overflow: scroll;
  width: 100%;
  height: 100%;
  &__container{
    &__content{
      cursor: pointer;
      width: 700px;
      &__user{
        height: 200px;
        background-image:image-url('24d7ce1e93b90c1e49dcf21d2e079a42_w.jpg');
        background-size:  cover;
        padding: 20px;
        &__erea{
          top:50px;
          text-align: center;
          height: 100px;
          &__icon{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 0 auto;
            background-image:image-url('3be29de409585ddcd1adae7d6aabfa54_w.jpg');
            background-size:  cover;
          }
          &__name{
            font-family: Arial, Helvetica, sans-serif;
          }
          &__count{
            display: flex;
            justify-content: center;
            height: 60px;
            &__evaluation{
              width: 150px;
              display: flex;
              padding-left: 80px;
              li{
                list-style: none;
                display: block;
                padding-top: 5px;
                width: 30px;
              }
            }
            &__sell{
              width: 160px;
              display: flex;
              padding:0 70px 0 10px;
              li{
                list-style: none;
                display: block;
                padding-top: 5px;
                width: 30px;
              }
            }
          }
        }
      }
      &__index{
        height: 300px;
        width: 700px;
        margin-bottom: 50px;
        font-family: Arial, Helvetica, sans-serif;
        &__header{
          height: 70px;
          line-height: 70px;
          background-color: white;
          padding-left: 20px;
        }
        ul{
          border: 0;
          background-color: #eee;
          display: flex;
          .mypage-tab,.mypage-tab2{
            width: 50%;
            text-align: center;
          }
          li{
            h3{
              font-size: 22px;
              a{
                position: relative;
                display: block;
                color: #333;
                font-size: 16px;
                line-height: 72px;
                text-decoration: none;
              }
            }
          }
          li.is-active,li.is-active2{
            background: #fff !important;
            border-top: 2px solid #ea352d !important;
          }
        }
        ul{
          border: 0;
          width: 100%;
          li{
            .text{
              height: 200px;
              width: 700px;
              background-color: white;
              text-align: center;
              color: rgb(182, 181, 181);
              padding: 20px;
              .img{
                display: block;
                margin: 0 auto;
                p{
                  display: block;
                }
              }
            }
          }
          li.is-show,li.is-show2{
            display: none;
            background-color: white;
          }
        }
      }
    }
  }
}
