*{
  box-sizing: border-box;
}
.main{
  background-color: #f5f5f5;
  overflow: scroll;
  width: 100%;
  height: 100%;
  &__container{
    // margin: 40px auto 0 ;
    
    // display: flex;
    // justify-content: center;
    &__content{
      cursor: pointer;
      width: 600px;
      &__user{
        height: 200px;
        background-image:image-url('24d7ce1e93b90c1e49dcf21d2e079a42_w.jpg');
        background-size:  cover;
        padding: 20px;
        border: solid 0.5px gray;
        &__erea{
          top:50px;
          text-align: center;
          height: 100px;
          &__icon{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 0 auto;
            background-image:image-url('3be29de409585ddcd1adae7d6aabfa54_w.jpg');
            background-size:  cover;
          }
          &__name{
            font-family: Arial, Helvetica, sans-serif;
          }
          &__count{
            display: flex;
            justify-content: center;
            height: 60px;
            &__evaluation{
              width: 150px;
              display: flex;
              padding-left: 80px;
              li{
                list-style: none;
                display: block;
                padding-top: 5px;
                width: 30px;
              }
            }
            &__sell{
              width: 160px;
              display: flex;
              padding:0 70px 0 10px;
              li{
                list-style: none;
                display: block;
                padding-top: 5px;
                width: 30px;
              }
            }
          }
        }
      }
      &__index{
        border: solid 1px;
        height: 300px;
        ul{
          border: 0;
          background-color: #eee;
          display: flex;
          .mypage-tab,.mypage-tab2{
            width: 50%;
            text-align: center;
          }
          li{
            h3{
              font-size: 22px;
              a{
                position: relative;
                display: block;
                color: #333;
                font-size: 16px;
                line-height: 72px;
              }
            }
          }
          li.is-active,li.is-active2{
            background: #fff !important;
            border-top: 2px solid #ea352d !important;
          }
          &__message{
            // border: solid 1px;
            // .mypage-panel.is-show{
            //   display: block;
            // }
          }
          .mypage.panel{
            
            ul{
              border: 0;
              background-color: #eee;
              display: none;
              li{
                display: none;
              }
              li.is-show{
                display: none;
              }
            }
          }
        }
      }
      // &__message{
      //   padding-top: 100px;
      //   width: 700px;
      //   height: 300px;
      //   text-align: center;
      //   border: solid 0.5px gray;
      //   background-color: white;
      //   &__nomessage{
      //     width: 120px;
      //     margin: 0 auto;
      //     color: #333;
      //     opacity: 0.6;
      //     font-family: Arial, Helvetica, sans-serif;
      //     font-weight: bold;
      //     text-align: center;
      //     :active{
      //       display:block;
      //     }
      //     p{
      //       display: block;
      //     }
      //   }
      // }
      // &__bottom{
      //   height:56px;
      //   padding: 16px;
      //   margin: 40px 0 0;
      //   border: solid 0.5px gray;
      //   background-color: white;
      //   font-family: Arial, Helvetica, sans-serif;
      // }
      // &__purchased{
      //   &__now-trade{
      //     width: 50%;
      //     height: 72px;
      //     text-align: center;
      //     font-size: 22px;
      //     line-height: 72px;
      //     border: solid 0.5px gray;
      //     background-color: white;
      //     float: left;
      //     border-top:solid 2px red;
      //     font-family: Arial, Helvetica, sans-serif;
      //   }
      //   &__past-trade{
      //     width: 50%;
      //     height: 72px;
      //     text-align: center;
      //     font-size: 22px;
      //     line-height: 72px;
      //     border: solid 0.5px gray;
      //     background-color: white;
      //     float: right;
      //     border-top:solid 2px red;
      //     font-family: Arial, Helvetica, sans-serif;
      //   }
      // // }
    }
  }
}
