//-------本人確認ページ------------------
.main__container__r-container{
  float: right;
  width: 700px;
  height: 1100px;
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  &__header{
    width: 650px;
    height: 50px;
    padding: 8px 28px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #c8c2c2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  &__register{
    width: 570px;
    height: 900px;
    padding: 65px 0 65px 65px ;
    font-size: 14px;
    font-weight: lighter;
    &__upload{
      width: 570px;
      height: 50px;
      margin: 0 auto;
      font-family: serif;
      .verification{
        display: block;
        text-decoration: none;
        text-align: right;
        margin-top: 5px;
        color: rgb(78, 196, 243);
        .fas.fa-chevron-right{
          font-size: 16px;
        }
      }
    }
    &__form{
      width: 570px;
      height: 30px;
      margin-top: 20px;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      &__any{
        font-size: 10px;
        color: rgba(255, 255, 255, 0.8);
        width: 40px;
        height: 20px;
        margin-left: 10px;
        line-height: 20px;
        border-radius: 5px;
        text-align: center;
        background-color: rgba(190, 185, 185, 0.8);
      }
      &__edit{
        .person{
          width: 530px;
          height: 40px;
          padding: 10px 16px 8px;
          border-radius: 2px;
          background-color: white;
          border: 1px solid gray;
        }
      }
      &__p-edit{
        .label{
          width: 530px;
          height: 40px;
          display: block;
          padding: 10px 16px 8px;
          border-radius: 2px;
          cursor: pointer;
          background-color: white;
          border: 1px solid gray;
          position: relative;
          .prefectures{
            position: absolute;
            width: 530px;
            height: 40px;
            left: 0;
            top: 0;
            padding: 10px;
            border: none;
            background-color: rgba(255, 255, 255, 0);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
          }
          .fas.fa-chevron-down{
            float: right;
            font-size: 20px;
            color: rgba(87, 84, 84, 0.8);
            right: 100px;
          }
          select::-ms-expand {
              display: none;
          }
        }
      }
    }
    &__info{
      font-size: 14px;
      height: 40px;
      font-weight: normal;
    }
    &__btn{
      width: 570px;
      height: 50px;
      margin: 10px auto;
      .register{
        display: block;
        text-align: center;
        line-height: 50px;
        text-decoration: none;
        font-size: 13px;
        color: white;
        background-color:#ea352d;
        border: 1px solid #ea352d;
        &:hover{
          background-color: rgb(214, 22, 22);
          transition:all 0.3s;
        }
      }
    }
    &__r-info{
      width: 570px;
      height: 50px;
      margin: 0 auto;
      .register-info{
        display: block;
        text-decoration: none;
        text-align: right;
        margin-top: 20px;
        color: rgb(78, 196, 243);
        font-family: serif;
        font-size: 14px;
        .fas.fa-chevron-right{
          font-size: 16px;
          padding-top: 30px;
        }
      }
    }
  }
}