.sign-up-session4 {
  font-size: 14px;
  color: #333;
  background-color: #f5f5f5;
  margin: 0;
  span {
    background-color: red;
    color: white;
    font-size: 12px;
    display: inline-block;
    line-height: 16px;
    padding: 3px;
    margin-left: 1em;
  }
  .box {
    margin-top: 24px;
  }
  
  &__body {
    background-color: white;
    width: 700px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 48px;
    &__head {
      font-size: 22px;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
      padding: 32px;
      font-family: 'Source Sans Pro';
      font-weight: bold;
      color: #333;
    }
    &__contents {
      max-width: 343px;
      margin: 0 auto;
      &__card-number {
        &__form{
          input.form.card-number-form{
            min-height: 1.5em;
            margin-top: 8px;
            font-size: inherit;
            width: 100%;
            height: 50px;
            padding: 10px 16px 16px 8px;
            align-items: center;
            border-radius: 3px;
          }
        }
        &__logos {
          ul{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            padding:0;
            li{
              margin: 0 2px;
            }
          }
        }
      }
      &__card-deadline{
        .date{
          background-color: white;
          color: black;
          margin: auto 1em auto;
        }
        .selecter {
          display:flex;
          justify-content: flex-start;
        }
        .label{
          width: 40%;
          height: 48px;
          display: block;
          padding: 0 14px 0;
          border-radius: 2px;
          margin-top: 8px;
          cursor: pointer ;
          background-color: white;
          border: 1px solid gray;
          position: relative;
          .deadline{
            position: absolute;
            width: 100%;
            height: 48px;
            font-size: inherit;
            left: 0;
            top: 0;
            padding: 10px;
            border: none;
            background-color: rgba(255, 255, 255, 0);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
          }
          .fas.fa-chevron-down{
            float: right;
            font-size: 20px;
            color: rgba(87, 84, 84, 0.8);
            right: 100px;
            margin-top: 15px;
          }
          select::-ms-expand {
            display: none;
          }
        }
      }
      &__securitycode {
        &__form{
          .form.card-security-form{
            min-height: 1.5em;
            margin-top: 8px;
            font-size: inherit;
            width: 100%;
            height: 50px;
            padding: 10px 16px 16px 8px;
            align-items: center;
            border-radius: 3px;
          }
        }
        &__help {
          text-align: right;
          color: skyblue;
          margin-top: 8px;
          width: 375px;
        }
      }
      &__next {
        input{
          margin: 40px auto 0;
          padding: 0 16px 0;
          width: 100%;
          text-align: center;
          line-height: 48px;
          background-color: red;
          text-align: center;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}