*{
  box-sizing: border-box;
}

.signin{
  width: 100vw;
  &__container{
    &__box {
      background-color: white;
      width: 455px;
      margin: 0 auto;
      text-align: center;
      &__section {
        padding: 40px 64px;
        border-bottom: 1px solid $color_gray;
        p {
          font-size: 14px;
          padding-bottom: 10px;
        }
        .btn {
          height: 50px;
          line-height: 50px;
          color: white;
          text-align: center;
          font-size: 14px;
          a {
            text-decoration: none;
            color: white;
          }
        }
        .registration {
          background-color: rgb(0, 153, 232);
          padding-bottom: 40px;
        }
        .facebook {
          background-color:rgb(56, 81, 133);
          margin-bottom: 20px;
          color: white;
          position: relative;
          .fab {
            position: absolute;
            left: 20px;
            top: 15px;
            color: white;
            font-size: 24px;
          }
          .fa-google {
            color: black;
          }
        }
        .google {
          color: black;
          border: solid 1px gray;
          border-radius: 5px;
          margin-bottom: 40px;
          position: relative;
          .fab {
            position: absolute;
            left: 20px;
            top: 15px;
            color: black;
            font-size: 24px;
          }
          .b{
            color: black;
          }
        }
        input {
          height: 40px;
          width: 100%;
          margin-bottom: 20px;
          padding-left: 10px;
          border-radius: 3px;
          border: solid 1px gray;
        }
        .robbot {
          // margin: 24px 0 0 180px;
          height: 90px;
          width: 350px;
          background-image:image-url('ec03e8f4e399b59d08ca8e41136d6e0d.png');
          background-size:  cover;
        }
        .log_in {
          input{
          margin: 10px auto;
          width: 343px;
          height: 60px;
          text-align: center;
          line-height: 48px;
          background-color: red;
          color: white;
          display: block;
          }
        }
        .blue {
          color: $color_aqua;
          text-align: left;
          line-height: 10px;
        }
      }
    }
  }
}