.show{
  background-color:#f5f5f5;
  width: 100vw;
  height: 1500px;
  padding: 50px 80px 50px 80px;
  &__item{
    background-color:white;
    width: calc(100vw - 550px);
    height: 1500px;
    margin: 0 auto;
    &__name{
      color: rgb(51, 51, 51);
      text-align: center;
      font-size: 24pt;
      padding: 20px;
      word-wrap: break-word;
      line-height: 1.4;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    }
    &__detail{
      background-color: white;
      width: calc(100vw - 750px);
      height: 360px;
      margin: 0 auto;
      padding: 24px 40px 40px 20px;
      display: flex;
      &__photo{
        background-color: black;
        width: 300px;
        height: 300px;
      }
      &__table{
        margin-left: 60px;
        width: 300px;
        height: 400px;
        font-size: small;
        padding-left: 60px;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        &__a{
          color: #333333;
          background-color: #FAFAFA;
          padding: 8px;
        }
        &__b{
          color: #0099e8;
          background-color: #FFFFFF;
          padding: 8px;
        }
        &__c{
          color: #333333;
          background-color: #FFFFFF;
          padding: 8px;
        }
      }
    }
    &__buy{
      &__price{
        display: flex;
        &__title{
          font-size: 40px;
          padding-top: 10px;
          padding-left: 300px;
          font-weight: 600;
          
        }
        &__detail{
          padding-top: 30px;
          padding-left: 50px;
        }
      }
      &__bottom{
        background-color: red;
        height: 75px;
        width: 550px;
        margin: 0 auto;
        text-align: center;
        line-height: 75px;
        font-weight: bold;
        font-size: 175%;
        color: white;
      }
      &__content{
        text-align: center;
        margin-top: 15px;
        color: red;
      }
      &__notes{
        padding-left: 150px;
        padding-top: 40px;
        font-size: large;
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      }
      &__buttom{
        display: flex;
        padding: 20px 20px 20px 20px;
        &__goodbuttom{
          padding-left: 20px;
          color: black;
          background-color: #f5f5f5;
          width: 100px;
          height: 30px;
        }
        &__repoprt{
          margin-left: 60px;
          color: black;
          background-color: #f5f5f5;;
          width: 200px;
          height: 30px;
        }
        &__security{
          margin-left: 200px;
          color: blue;
        }
      }
    }
    &__comment{
      &__content{
        background-color: #fff6de;
        height: 50px;
        text-align: center;
        margin: 0 auto;
        width: 600px;
        padding: 20px 20px 20px 20px;
      }
      &__box{
        width: 600px;
        height: 100px;
        border: 1px solid #ccc;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        margin-bottom: 20px;
      }
      &__bottom{
        margin: 0 auto;
        height: 60px;
        width: 600px;
        background-color: grey;
        text-align: center;
        line-height: 60px;
        margin-top: 20px;
        color: white;
      }
    }
    &__sns{
      font-size: 45pt;
      text-align: center;
      margin-top: 15px;
    }
  }
}

.fab.fa-facebook-square{
  color: #385185;
}
.fab.fa-twitter-square{
  color: #5d9dc9;
}
.fab.fa-pinterest-square{
  color: #aa262a;
}